
.vision{
	margin-top: 100px;
	height: 100%;
}

.member{
	margin-top: 80px;
	margin-bottom: 40px;
	height: auto;
	/*color: black;*/
	text-align: center;
}

.member .container{
	height: 100%;
}

.member .col-md-4{
	height: auto;
	margin-bottom: 60px;
}

.member h3{
	font-size: 26px;
	font-weight: 100;
	color: #333;
	line-height: 30px;
	margin-bottom: 20px;
}

.member h5{
	margin-bottom: 20px;
}

.member p{
	padding-left: 15px;
	padding-right: 15px;
	height: 80px;
	font-family: "Helvetica";
	font-size: 18px;
	line-height: 25px;
}

.member .lead{
	font-size: 16px;
}

.member .row{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 40px;
	/*height: 500px;*/
}

.member img{
	width: 210px;
	padding-bottom: 10px;
	border: 1px solid #eee;
	padding: 8px;
}

.member .social-media{
	padding-left: 0px;
}

.member .social-media li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

.member .social-media li a {
	border: 1px solid #e5e5e5;
	color: #000;
	display: block;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}

.member .social-media img{
	width: 100% ! important;
}

.member a.fb:hover, .member a.fb{
	background: #3b5998;
}

.member a.linkedin:hover, .member a.linkedin{
	background: #0976b4;
}

.member a.twitter:hover, .member a.twitter{
	background: #55acee;
}

.member a.google:hover, .member a.google{
	background: #dd4b39;
}

.member a.github:hover, .member a.github{
	background: #4183c4;
}

.member a:hover .fa{
	color: #fff;
	transition: all 500ms ease;
}

.member a:hover{
	transition: all 500ms ease;
}

.member .fa{
	/*color: #919191;*/
	color: white;
}

.member .fa-map-marker{
	color: #919191;
}

.contact{
	background-color: #f3f3f3;
	/*height: 400px;*/
	text-align: center;
	margin-top: 80px;
	padding-bottom: 40px;
}

.contact .form-group{
	margin-bottom: 10px;
}

.contact .featurette-heading{
	margin-top: 50px;
	margin-bottom: 30px;
}

.contact .pull-left{
	width: 45%;
	margin-right: 10px;
}

.contact .input-group-addon{
	padding: 4px 4px;
}


.contact .social{
	margin-top: 50px;
}

.contact a{
	margin-right: 15px;
	margin-left: 15px;
	font-size: 20px;
}

.contact .fa{
	color: #999;
}

.contact .btn{
	width: 100%;
	background-color: #38a0f4;
	margin-top: 5px;
}

.contact .btn:hover{
	background-color: #3276b1;
}

footer{
	margin-top: 0;
}

footer p{
	padding-top: 0px;
}

/*
.contactus .left{
	text-align: left;
	margin-top: 40px;
}

.contactus .lead{
	color: #424b51;
	font-weight: 600;
	font-size: 14px;
}

.contactus .text-muted{
	color:#838886;
	font-size: 12px;
	letter-spacing: -.5px;
}

.contactus .email{
	font-size: 12px;
	font-weight: 500;
	letter-spacing: .8px;
}

.contactus .social{
	display: inline;
}*/